<div id="content">
  <header class="grid">
    <nav>
      <ul>
        <li><h1>Crear Nueva Nota</h1></li>
      </ul>
      <ul>
        <li><button class="outline" hx-get="/notas" hx-target="body" hx-swap="outerHTML">Volver</button></li>
        <li><button hx-post="/logout" class="contrast">Cerrar Sesión</button></li>
      </ul>
    </nav>
  </header>
  <small>Rellena el formulario para añadir una nueva nota.</small>
  <form hx-post="/crear_nota" hx-target="body" hx-swap="outerHTML">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="contenido">Contenido</label>
    <textarea id="contenido" name="contenido" rows="4" required></textarea>

    <label for="tag_id">Tag</label>
    <select id="tag_id" name="tag_id" required>
      {{range .Tags}}
      <option value="{{.ID}}">{{.Nombre}}</option>
      {{end}}
    </select>
    <button type="submit">Guardar Nota</button>
  </form>
</div>