<header>
  <h1>Iniciar Sesión</h1>
  <small>Accede a tu cuenta para gestionar tus notas</small>
</header>
<main>
  <form hx-post="/login" hx-target="body" hx-swap="outerHTML">
    <fieldset>
      <label>
        Usuario
        <input type="text" id="username" name="username" placeholder="Usuario" value="testuser" required>
      </label>
      <label>
        Contraseña
        <input type="password" id="password" name="password" placeholder="Contraseña" value="password123" required>
      </label>
    </fieldset>
    <button type="submit">Entrar</button>
  </form>
</main>
<footer>Calevin Inc.</footer>