<div id="content">
<header>
    <nav>
        <ul>
            <li><h1>Mis Notas</h1></li>
        </ul>
        <ul>
            <li><button hx-get="/crear_nota" hx-target="#content" hx-swap="innerHTML">Agregar Nota</button></li>
            <li><button hx-post="/logout" class="contrast">Cerrar Sesión</button></li>
        </ul>
    </nav>
</header>
<small>Aquí puedes ver y gestionar tus notas.</small>
<main>
    {{range .Notes}}
    <article class="note-card">
        <header>
            <h4>{{.Nombre}}</h4>
        </header>
        <p class="contenido">{{.Contenido}}</p>
        <footer class="grid">
            <div class="tags">
                {{range .Tags}}
                <mark class="tag" style="background-color: {{.Color.String}};">{{.Nombre}}</mark>
                {{end}}
            </div>
            <div class="grid">
                <button hx-get="/editar_nota/{{.ID}}" hx-target="body" hx-swap="outerHTML">Editar</button>
                <button class="contrast" hx-delete="/borrar_nota/{{.ID}}" hx-confirm="¿Estás seguro de que deseas borrar esta nota?" hx-target="closest article" hx-swap="outerHTML">Borrar</button>
            </div>
        </footer>
    </article>
    {{else}}
    <article data-theme="light" class="pico-background-zinc-400">
        <p>No tienes notas todavía.</p>
    </article>
    {{end}}
</main>
</div>